@use "@/styles/mixins.scss";

.faq {
  padding: 70px 0 70px;

  @media (max-width: 583px) {
    padding: 50px 0 50px;
  }
}

.faqContent {
  width: 100%;
  display: flex;
  flex-direction: column;

  h2 {
    @include mixins.header3;
    outline-color: var(--common-text-color);
    text-align: center;
  }

  li {
    list-style: none;
    margin-top: 20px;
  }
}
