@use "../../styles/mixins.scss";

.error {
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
  padding: 16px;

  align-items: center;

  h2 {
    @include mixins.secondary;
    margin-bottom: 8px;
  }

  p {
    @include mixins.secondary;
    margin-bottom: 16px;

    &:last-of-type {
      @include mixins.noteHigh;
      color: var(--secondary-text-color);
      margin-top: 16px;
    }
  }
}

.errorImage {
  opacity: 0.5;
}

.retryButton {
  background-color: var(--color-primary-set-1);
  color: var(--color-secondary-set-2);
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  font-size: 16px;
}

.retryButton:hover {
  background-color: var(--accent-color);
}
