@use "../../styles//mixins.scss";

.accordion {
  margin-top: 20px;
  padding: 20px;
  border-radius: 12px;
  background: var(--color-primary-set-color-8);

  p {
    margin-top: 12px;
    @include mixins.secondaryHigh;

    b {
      font-weight: 600;
    }
  }

  summary {
    cursor: pointer;

    h4 {
      display: inline;
      @include mixins.header4;
    }
  }
}
