@import "../../styles/mixins";

.work {
  margin: 0 auto;
  max-width: 1140px;
  width: 100%;
  padding: 70px 15px;
}

.workContent {
  width: 100%;
  display: flex;
  flex-direction: column;

  h2 {
    font-size: 36px;
    font-weight: 700;
    height: auto;
    line-height: 44px;
  }
}

.workWrapper {
  display: flex;
  flex-direction: row;
}

.workInfo {
  flex: 1;

  ul {
    counter-reset: num;
    margin-top: 44px;

    li {
      position: relative;
      margin-bottom: 24px;
      padding-left: 40px;
      list-style: none;

      font-size: 24px;
      font-weight: 600;
      height: auto;
      line-height: 30px;

      &::before {
        content: counter(num);
        counter-increment: num 1;

        position: absolute;
        left: 3px;
        top: -1px;

        font-size: 26px;
        font-weight: 700;
        height: 28px;

        @include primary-text;
      }
    }
  }

  a {
    margin-top: 44px;
  }
}

.workMedia {
  flex: 1;
  max-width: 50%;

  img {
    max-width: 100%;
    margin-top: -60px;
  }
  @media (max-width: 583px) {
    order: 2;
    margin-left: 0;
    margin-top: 20px;
  }
}

@media (max-width: 583px) {
  .work {
    padding-top: 50px;
    padding-bottom: 50px;
  }

  .workContent {
    flex-direction: column;
    flex-wrap: wrap-reverse;
  }

  .workMedia {
    max-width: 100%;

    img {
      margin-top: 0;
    }
  }

  .workWrapper {
    flex-direction: column-reverse;
  }

  .workInfo {
    .workMediaButton {
      width: 100%;
    }
  }
}
